<p id="notice"><%= notice %></p>


<span class="explanation">Name:</span>
  <%= @term.name %><br>


<span class="explanation">Definition:</span>
  <%= @term.definition %><br>


<span class="explanation">Author:</span>
  <%= @term.author %><br>

<span class="explanation">Resource:</span>
  <%= @term.resource %><br><br>


<%= link_to 'Edit', edit_term_path(@term), class: "btn btn-default" %> |
<%= link_to 'Back', terms_path, class: "btn btn-default" %>
