<p id="notice"><%= notice %></p>

<span class="explanation">Name:</span>
  <%= @category.name %><br>

<span class="explanation">Subject:</span>
  <%= @category.subject %><br><br>

<%= link_to 'Edit', edit_category_path(@category), class: "btn btn-default" %> |
<%= link_to 'Back', categories_path, class: "btn btn-default" %>
